@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.issueId{
    color:#999999;
}

.titleLink{
    color: #333333;
}

.disabledButton {
    background-color: #669999;
}

.list-group-item-label-list{
    background-color: #ffffff;
    border: 1px solid #F5F5F5;
}

.list-item-text{
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border: 1px none black;
}

#issueContent{
    border-left: 4px #E0E0E0 solid;
}

.label-success {
    background-color: #80E680;
    color: green;
}

.label-danger{
    background-color: #FF8080;
    color: #7A0000;
}

.label-warning{
    background-color: #FFB280;
    color: #CC5200;
}

// creating labels (Ionut & Augustin)

.label-add-new:hover{
    background-color: #28B62C;
}

.color-chooser-color{
    background-color: red;
}

.color-chooser-color:hover{
    border: 1px solid black;
}

#createLabelH{
    border: 1.5px #e7e7e7 solid;
}

.label-selected{
    border: 2px solid black;
}

#createLabelErrorField{
    color:orange;
}

//View All Issues (ionut)

.theIssueTitleLink{
    color:#333333;
}

.theIssueContentPreview{
    border-left: 4px #E0E0E0 solid;
}

.theIssueShowContent{
    color:#c2c2c2;
}

#allIssues > div:nth-child(even)  {
    background: none repeat scroll 0 0 #e7e7e7 !important;
}

/*andreea;*/

.openColor{
    color:#53F01A;
}

.closedColor{
    color:#FA2A2A;
}
