#content{
    margin-top: 60px;
    margin-bottom: 60px;
}

#footer {
    position:relative;
    bottom: 0px;
    width: 100%;
    text-align: center;

}
.issueTitle{
    display: inline-block;
    font-size: 150%; 
    width: 100%;
    padding-top: 6px;
}
.issueId{
    float:right;
    font-size: 80%;
    color:#999999;
}
.titleLink{
    color: #333333;
}
.issueDateTime{
    margin-top: 5px;
    margin-bottom: 4px;
}
.loginButton{
    margin-top:8px;
}
#allIssues > div:nth-child(even) > div {
    background: none repeat scroll 0 0 #eeeee9   !important;
}
.issueLength{
    font-size: 60%;
}
.noBorder{
    border-width: 2px;
}

.disabledButton {
    background-color: #669999;
}
#addComment{
    text-align: center;
}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 50; right: 0;
    height: 230px;
}
.txt-center{
    text-align: center;
}