/*pink theme*/

.label-success {
    background-color: #80E680;
    color: green;
}

.label-danger{
    background-color: #FF8080;
    color: #7A0000;
}

.label-warning{
    background-color: #FFB280;
    color: #CC5200;
}

.theIssueTitleLink{
    color:#333333;
}

.panel-body,
.list-group-item,
.panel,
.navbar{
    background-color:#F7EDF3;
}
.panel,
.navbar-default{
    border-color:#F2E1EB;
}
.btn-default{
    background-color:#F2E1EB;
    border-color:#F2E1EB;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color:#F2E1EB;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color:#F2E1EB;
}
.panel-primary > .panel-heading{
    background-color: #F2E1EB;
}
#allIssues > div:nth-child(odd)  {
    background: none repeat scroll 0 0 #FAF7F9 !important;
    border-color: #FAEDF5;
}
.glyphicon{
    color: #CFB4C3;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #EDDDE6;
  border-color: #EBDAE3;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #EDDDE6;
  border-color: #e2e2e2;
}
.panel-default > .panel-heading,
.panel-heading{
    background-color:#F5E4ED;
}

.openColor{
    color:#53F01A;
}

.closedColor{
    color:#FA2A2A;
}
#issueContent{
    border-left: 4px #F5E4ED solid;
}
.theIssueContentPreview{
    border-left: 4px #F5E4ED solid;
}
