/*LIGHT STYLE*/
/*view issue*/
.textDate{
    color: #158cba;
}
.textDate:hover{
    color:#158cba;
}
/*end view issue*/
.list-item-text{
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border: 1px none black;
}
#issueContent{
    border-left: 4px #E6E6E6 solid;
}

/* creating labels (Ionut & Augustin)*/

.label-add-new:hover{
    background-color: #28B62C;
}

.color-chooser-color{
    background-color: red;
}

.color-chooser-color:hover{
    border: 1px solid black;
}

#createLabelH{
    border: 1.5px #e7e7e7 solid;
}

.label-selected{
    border: 2px solid black;
}

#createLabelErrorField{
    color:orange;
}

/*View All Issues (ionut)*/

.theIssueTitleLink{
    color:#333333;
}

.theIssueContentPreview{
    border-left: 4px #E6E6E6 solid;
}

.theIssueShowContent{
    color:#c2c2c2;
}

#allIssues > div:nth-child(even)  {
    background: none repeat scroll 0 0 #e7e7e7 !important;
}

/*andreea;*/

.openColor{
    color:#53F01A;
}

.closedColor{
    color:#FA2A2A;
}
/*stuff*/
.panel-primary > .panel-heading{
    background-color:#c2c2c2;
}

/*comments*/
.arrow_box {
    position: relative;
    background: -webkit-linear-gradient(90deg, #F5F5F5 5%, #FCFCFC 100%);
    background: -moz-linear-gradient(90deg, #F5F5F5 5%, #FCFCFC 100%);
    background: -ms-linear-gradient(90deg, #F5F5F5 5%, #FCFCFC 100%);
    background: linear-gradient(180deg, #E8E8E8 5%, #F7F7F7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#FCFCFC');
    border: 1px solid #f0f0f0;
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(252, 252, 252, 0);
    border-right-color: #f0f0f0;
    border-width: 20px;
    margin-top: -20px;
}
.arrow_box:before {
    border-color: rgba(252, 252, 252, 0);
    border-right-color: #f0f0f0;
    border-width: 21px;
    margin-top: -21px;
}
/*light bulb*/
#lightBulbPic:hover{
    -webkit-filter: grayscale(100%);
    -moz-filter:grayscale(100%); 
    -ms-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.commentBlockquote{
    border-left: 4px solid #E6E6E6;
}